.header {
  margin-top: 48px;
  margin-bottom: 8px;
  font-size: 24px;
  color: #0a376e;
  font-weight: bold;
}
#NumberCount {
  font-size: 28px;
  font-weight: bold;
  color: #2c2c2c;
}
#NumberCountDesc {
  font-size: 14px;
  color: #6e6e6e;
}
@font-face {
  font-family: SFProDisplay;
  src: url("./Fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: SFProDisplay;
  src: url("./Fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-weight: bold;
}
.center {
  text-align: center;
}
body {
  font-family: SFProDisplay;
}
.box {
  width: 343px;
  height: 219px;
  margin: 8px auto 8px auto;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.box-header {
  font-size: 14px;
  margin: 8px;
  font-family: SFProDisplay;
  font-weight: bold;
  color: #6e6e6e;
}
.flex-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
}
.graph-desc {
  font-size: 10px;
}
#blue {
  background-color: #2d9cdb;
}
#light-blue {
  background-color: #56ccf2;
}
.label-gap {
  margin: 2px;
}
.footer {
  position: fixed;
  padding: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
#chart {
  margin: 1em auto;
  width: 800px;
}
/*
class .
id #
tag no prefix
*/
